
        body{
            background-image: url("immagini/Wesociallogin.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100vh;
            font-family: 'Noto Sans', sans-serif;
            overflow: hidden;
        }

        .text-center{
            font-family: 'Oleo Script Swash Caps', sans-serif;
            color:#fff;
            font-size: 23px;
            margin: -50px 0 80px 0;
            display: block;
            text-align: center;
        }

        .error{
            font-size: 20px;
            color: red;
            text-align: center;
        }


        .box{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            background-color: rgba(0, 0, 0, 0.89);
            border-radius: 3px;
            padding: 70px 100px;
        }

        .input-container{
            margin-bottom: 25px;
        }

        .input-container label{
            font-family: 'Quicksand', sans-serif;
            font-size: 12px;
            top: 0px;
            left: 0px;
            color:#fff;	
            transition: all 0.5s ease-in-out;
        }

        .input-container input{ 
          border:0;
          border-bottom:1px solid #555;  
          background: transparent;
          width:100%;
          padding:8px 0 5px 0;
          font-size:16px;
          color:#fff;
        }

        .input-container input:focus{ 
         border: none;	
         background-color: rgba(0, 0, 0, 0.89);
         outline: none;
         border-bottom: 1px solid #e74c3c;	
        }

        .button{
            color:#fff;
            background-color:#e74c3c;
            border: 0;
            padding: 10px 20px;
            text-transform: uppercase;
            margin-top: 50px;
            border-radius:2px;
            cursor: pointer;
        }

        p{
            font-family: 'Oleo Script Swash Caps', sans-serif;
            font-size: 20px;
            color:#fff;

            

        }

        @media (max-width: 600px){

            .box{
                padding: 70px 60px;
            }

            input[type = 'text']{

            font-size: 12px;
            }

            p{
                font-size: 15px;
            }
        }